
/* Clases Proyecto */
.col-yellow-primary {
  color: #FFC81F;
}
.col-yellow-secundary {
  color: #FF671B;
}
.bg-gray {
  background-color: #2B2B2B;
}
.text-zise {
  font-size: 2rem;
}
.h-boxmain {
  height: 20.5rem;
}
.pt-p {
  padding-top: 1.8rem;
}
.pb-5p5rem {
  padding-bottom: 5.5rem;
}

@media (min-width: 640px) { 
  .h-boxmain-sm {
    height: 18.5rem;
  }
}
@media (min-width: 768px) { 
  .m-imgdesktop-md {
    margin: 0 0 0 auto;
  }
  .h-boxmain-md {
    height: 18rem;
  }
  .pt-p-md {
    padding-top: 1.8rem;
  }
  .wtext-min-md {
    width: 70%;
  }
  .wtext-max-md {
    width: 92%;
  }
}
@media (min-width: 1024px) { 
  .wh2-lg {
    width: auto;
  }
  .h-boxmain-lg {
    height: 23rem;
  }
  .size-h2-lg {
    font-size: 4rem;
  }
}
@media (min-width: 1280px) { 
  .h-boxmain-xl {
    height: 23rem;
  }
  .m-imgdesktop-xl {
    margin: 0 0 0 auto;
  }
  .wtext-max-xl {
    width: 94%;
  }
  .wtext-min-xl {
    width: 77%;
  }
  .size-h2-xl {
    font-size: 5rem;
  }
  .lineheight-h2-xl {
    line-height: 5rem;
  }
  .lineheight-p-xl {
    line-height: 2.5rem;
  }
  .wh2-xl {
    width: 50rem;
  }
  .pl-xl {
    padding-left: 3.5rem;
}
}
